body{

    background-image: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: 2000px;


}

.about{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
}

.image{

    border-image: 2px;
    size: 500px;
    align-items: center;
}

div{
    text-align: center;
}